<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style/footer.css">
</head>
<body>
<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-column">
                <h4>Về Việt Sắc Đỏ</h4>
                <p>Chuyên cung cấp các sản phẩm áo dài, vải linen và phụ kiện
                    thời trang truyền thống, tôn vinh vẻ đẹp Việt.</p>
                <p>
                    <i class="fa-solid fa-location-dot"></i> 16 tổ 3, khu phố 6, Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh
                </p>
                <p>
                    <i class="fa-solid fa-phone"></i> 0901.234.567
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i> info@vietsacdo.com
                </p>
            </div>
            <div class="footer-column">
                <h4>Liên kết nhanh</h4>
                <ul class="footer-links">
                    <li><a href="#">Áo dài truyền thống</a></li>
                    <li><a href="#">Áo dài thêu tay</a></li>
                    <li><a href="#">Quần lụa</a></li>
                    <li><a href="#">Guốc mộc</a></li>
                    <li><a href="lien-he.html">Liên Hệ</a></li>
                </ul>
                <div class="social-icons">
                    <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" title="Zalo"><i class="fa-solid fa-comment-dots"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2025 Việt Sắc Đỏ. Đã đăng ký bản quyền.</p>
        </div>
    </div>
</footer>


</body>
</html>